header {
    position: absolute;
    z-index: 7;
    width: 100%;
    background: transparent;
}

.header__container {
    height: 100%;
    display: flex;
    background: transparent;
    justify-content:space-between;
}
  
.header__brand-row-container {
    background: transparent;
}

.header__brand-row {
    display: flex;
    padding: 0.1rem;
    align-items: center;
    height: 100%;
    margin-left: auto;
}
  
.header__logo-and-motto-box {
    display: flex;
    gap: 1rem;
}
  
#header__logo {
    display: block;
    background: transparent;
    margin-top: 0.5rem;
}

.header__logo-img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}

.header__school-name-and-motto-box {
    margin-top: 1rem;
    width: max-content;
}

#header__school-name {
    color: var(--color-hallel-orange1);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
  
#header__slogan {
    font-size: 0.7rem;
    margin-left: 2rem;
    color: white;
}

.header__slogan-for-mobile {
    display: none; 
}

.header__nav {
    background: transparent;
    place-items: center;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 
.header__nav-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.header__nav-menu li a {
    color: var(--color-white);
    font-weight: 700;
    padding: 0.2rem;

    transition: all 0.1s ease-in-out;
}

.header__nav-menu li a:hover{
    text-decoration: underline;
}

.header__nav-menu li a.active::after {
    content: '';
    display: block;
    background: var(--color-white);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1px;
}

/* NAVBAR */
.header__nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.header__nav-close-btn {
    display: none;
}
  

@media screen and (max-width: 1000px) {

    header {
        height: 5rem;
    }

    .header__logo-img {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
    }

    .header__nav-btn {
        visibility: visible;
        opacity: 1;

        position: absolute;
        right: 1rem;
        color: var(--color-hallel-orange1)
    }

    .header__nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__school-name-and-motto-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .header__nav {
        position: fixed;
        z-index: 8; /*solved: the mobile slogan was still showing when the mobile nav is opened */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-hallel-orange1);
        transition: 1s;
        transform: translateY(-120vh); /*we're hiding it -11vh */
    }

    .header__mobile_nav {
        transform: none; /* cancel the -110vh transformation */
    }

    .header__nav-menu {
        flex-direction: column;
        gap: 1rem;
    }

    .header__nav-close-btn {
        display: inline-block;
        color: white;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .header__nav-menu li a.active::after {
        display: none;
    }

    .header__nav-menu li a.active {
        background: white;
        border-radius: 2rem;
        color: var(--color-hallel-wine2);
        padding: 0.5rem;
        font-weight: bolder;
    }

}


@media screen and (max-width: 600px) {

    header {
        position: relative; /* cause a normal flow for the header, so that the carousel will follow it */
        height: auto;
        background: var(--color-light-heavy);
    }

    .header__logo-img {
        height: 4.2rem;
        width: 4.2rem;
    }

    #header__school-name {
        font-size: 1rem;
    }

    .header__logo-and-motto-box {
        max-width: 80%;
    }

    #header__slogan {
        display: none;
    }

    #header__logo {
        height: 100%;
    }

    .header__slogan-for-mobile {
        display: block;
        background: var(--color-light-heavy);
        text-align: center;
        border-top: solid 0.01rem grey; 
        border-color: rgb(161, 148, 148, 0.5);
        font-size: 0.6rem;
        font-weight: 500;
        opacity: 0.8;
        max-height: 1.5rem;
        position: relative;
        width: 100vw;
    }
}


@media screen and (max-width: 467px) {

    #header__school-name {
        font-size: 0.7rem;
        font-weight: bolder;
    }
}

