.home-student {
    margin: 4rem auto;
}

.home-student-spotlights {
    column-count: 3;
    gap: 25px;
}

.home-student-spotlight {
    padding: 10px;
    background: var(--color-light-heavy);
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    break-inside: avoid;
    display: inline-block;
}

.home-student-spotlight:hover {
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
}

.home-student-spotlight-name {
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    margin: 0.2rem auto 0.5rem;
}

.home-student-spotlight-img {
    width: 100%;
    object-fit: cover;
    height: 50%;
    border-radius: 10px;
}

.home-student-spotlight-student {
    font-size: larger;
    text-align: center;
    margin: 0.3rem auto 1.5rem;
}

