
.gallery-section {
    margin: 4rem auto 5rem;
}

.gallery-section-h3 {
    margin-bottom: 1rem;
    border-bottom: solid 1px var(--color-hallel-wine2);
    padding-bottom: 0.5rem;
}

.gallery-section-images {
    display: flex;
    flex-wrap: wrap;
}

.gallery-section-img-item-box {
    height: calc(100vw * 0.15); /* 10rem; */
    width: calc(100vw * 0.15);
    background-color: red;
    border: solid 1px white;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.gallery-section-img-item-box:hover {
    cursor: pointer;
}

.gallery-section-img-item-box:hover .gallery-section-img {
    transform: scale(1.1);
}

.gallery-section-img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.gallery-section-image-desc {
    position: absolute;
    top: 0;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 0.5rem;
    font-weight: 500;
}

.gs_modal_overall_container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.clickTest {
    position: absolute;
    top: 50%;
    z-index: 1000;
}

.clickTest:hover {
    cursor: pointer;
}