
.home-contact {
    margin: 4rem auto;
}

.home-contact-and-message-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.home-contact-us-inner-box {
    margin-top: 1rem;
}

.home-contact-inner-box-header {
    margin-bottom: 0.2rem;
}

.home-contact-phone {
    display: block;
}

.home-contact-us-inner-box-email, .home-contact-us-inner-box-connect {
    margin-top: 1rem;
}

.home-contact-connect-img-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.home-contact-connect-img-box {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
}

.home-contact-connect-img-box:hover {

    outline: solid 1px rgba(0,0,0,0.3);
}

.home-contact-connect-img-box a:hover {
    cursor: pointer;
}

.home-contact-connect-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* 

MESSAGE STUFF 

*/

.home-contact-message-input-group {
    margin: 1rem 0;
}

.home-contact-message-label {
    display: block;
}

.home-contact-message-input {
    border: solid 1px rgba(0,0,0,0.3);
    padding: 0.5rem;
    border-radius: 10px;
    width: 50%;
}

.home-message-textarea {
    resize: none;
}

.home-contact-message-submit-btn {
    background-color: var(--color-hallel-orange1);
    padding: 0.5rem;
    width: 50%;
    font-weight: 500;
    font-size: medium;
    color: white;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

.home-contact-message-submit-btn:hover {
    background-color: var(--color-hallel-wine2);
    cursor: pointer;
    outline: solid 1px white;
}

@media screen and (max-width: 1200px) {
    .home-contact-message-input, .home-contact-message-submit-btn{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .home-contact-and-message-box {
        grid-template-columns: 1fr;
    }

    .home-message-box {
        margin-top: 1rem;
        border-top: solid 2px var(--color-hallel-wine2);
        padding-top: 3rem;
    }

    .home-contact-us-message-header {
        margin-bottom: 2rem;
    }
}

.deleteMeNow {
    width: 200px;
    height: 200px;
}