
.staff-section {
    margin: 4rem auto 5rem;
}

.staff-section_desc_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.staff-section_desc_h3, .staff-section_desc_p {
    width: 40%;
}

