
.academics__learning-goals-section {
    margin-top: 5rem;
}

.academics__learning-goals-item {
    list-style-type:decimal;
}



.academics__learning-goals-desc-box-item {
    list-style-type: disc;
}
