
.academics__learning-goals-section {
    margin-top: 5rem;
}

.academics__learning-goals-item {
    list-style-type:decimal;
}

.academics__learning-goals-item-content-toggle {
    margin-top: 0.2rem;
    color: var(--color-hallel-orange1);
    font-weight: bolder;
    font-size: x-large;
}

.academics__learning-goals-item-heading-row {
    display: flex;
    gap: 0.5rem;
}


.academics__learning-goals-desc-box-item {
    list-style-type: disc;
}
