
.academics__learning-goals-section {
    margin-top: 5rem;
}

.academics__learning-goals-list-container {
    display: flex;
    justify-content: center;
}

.academics__learning-goals-list {
    width: 70%;
}

.academics__learning-goals-item {
    list-style-type:decimal;
    padding: 1rem;
}

.academics__learning-goals-item-heading-row {
    display: flex;
    gap: 0.5rem;
}

.academics__learning-goals-item-content-toggle {
    margin-top: 0.2rem;
    color: var(--color-hallel-orange1);
    font-weight: bolder;
    font-size: x-large;
}

.academics__learning-goals-item-description-box {
    list-style-type: disc;
}
