
/* .entry-req-section {
    border: solid 1px green;
} */

.entry-req-item {
    margin-bottom: 3rem;
}

.entry-req-item-h3 {
    background-color: var(--color-hallel-orange1);
    padding: 1rem;
    color: white;
    border-radius: 10px;
}

.entry-req-item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 2rem;
}

.entry-req-item-img-box {
    height: calc(100vh * 0.3);
}

.entry-req-item-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.entry-req-item-li {
    list-style-type: disc;
}



