
.gs_modal_overlay {
    width: 100vw; /* max-width or overflow-none */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}