
/* .gs_modal_overlay {
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.gs_modal_overall_container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.clickTest {
    position: absolute;
    top: 50%;
    z-index: 1000;
}

.clickTest:hover {
    cursor: pointer;
}